services:
  portfolio:
    container_name: portfolio
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    expose:
      - "3000"
    environment:
      - GMAIL_USER=${GMAIL_USER}
      - GMAIL_APP_PASSWORD=${GMAIL_APP_PASSWORD}
    labels:
      traefik.enable: true
      traefik.http.routers.portfolio.rule: Host(`portfolio.damswallace.fr`)
      traefik.http.routers.portfolio.entryPoints: websecure
      traefik.http.services.portfolio.loadbalancer.server.port: 3000
      traefik.http.routers.portfolio.middlewares: middleware-secured-chain@file
    networks:
      br-dams:
        ipv4_address: 172.18.0.120
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"

networks:
  br-dams:
    external: true
